body{
    background-color: #b68686 !important;
}
.container{
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.lvlogo{
    width: 100px;
}

.login_submit{
    background-color:#f8b13e !important;
    border-color: #f8b13e !important;
}
